<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/52fe999af9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <section id="navbar-top">
        <div class="navbar">
            <div class="logo-icons">
                <div class="social">
                    <ul>
                        <li><i class="fab fa-facebook-f" style="color:#175BEB; font-size: 22px; width: 14px; height: 24px; "></i></li>
                        <li><i class="fab fa-twitter" style="color: #1DA1F2; font-size: 22px; width: 14px; height: 24px;"></i></li>
                        <li><i class="fab fa-instagram" style="color:rgb(242,40,177); font-size: 22px; width: 14px; height: 24px;"></i></li>
                    </ul>
                </div>
                <div class="logo">
                  <div class="title">
                    <h1>Veen</h1>
                    <span></span>
                  </div>
                </div>
                <div class="search">
                  <div class="search-icon"><i class="fas fa-search"></i></div>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li>Home</li>
                    <li>Categories</li>
                    <li>Authors</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="subscribe">
          <div class="content">
            <div class="text">
              <div class="title">
                <h4>Subscribe to Veen</h4>
                <span></span>
              </div>
              <p>Get the latest posts delivered right to your email.</p>
            </div> 
            <div class="email">
              <div class="form">
                <div class="form-group">
                  <p>Enter your email address</p>
                </div>
              </div>
              <button class="button">Submit</button>
            </div> 
          </div>
        </div>
        <div class="widgets">
          <div class="row">
            <div class="popular">
              <div class="title">
                <h4>Popular Posts</h4>
                <span></span>
              </div>
              <div class="post">
                <img src="img/post1.jpg" alt="">
                <div class="info">
                  <h4>3 ideas to keep you healthy and strong</h4>
                  <div class="datetime">
                    <i class="far fa-clock" style="width: 17px; height: 17px; color: #FF486A;"></i>
                    <span>July 25, 2019</span>
                  </div>
                </div>
              </div>
              <div class="post">
                <img src="img/post2.jpg" alt="">
                <div class="info">
                  <h4>Far far away, behind the word mountains</h4>
                  <div class="datetime">
                    <i class="far fa-clock" style="width: 17px; height: 17px; color: #FF486A;"></i>
                    <span>August 15, 2019</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tag-cloud">
              <div class="title">
                <h4>Tag Cloud</h4>
                <span></span>
              </div>
              <div class="cloud">
                <ul>
                  <li style="background: #7169fe; width: 69px;">Health</li>
                  <li style="background: #FF486A; width: 81px;">Lifestyle</li>
                  <li style="background: #1cbfc3 ; width: 62px;">Music</li>
                </ul>
                <ul>
                  <li style="background: #fdd948; width: 98px;">Technology</li>
                  <li style="background: #8338ec; width: 65px;">Travel</li>
                  <li style="background: #fb0699; width: 63px;">Video</li>
                </ul>
              </div>
            </div>
            <div class="menu">
              <div class="title">
                <h4>Menu</h4>
                <span></span>
              </div>
              <div class="menu-footer">
                <ul>
                  <li>Home</li>
                  <li>Categories</li>
                  <li>Authors</li>
                  <li>Contact</li>
                </ul>
              </div>
            </div>
            <div class="gallery">
              <div class="title">
                <h4>Gallery</h4>
                <span></span>
              </div>
              <div class="imgs">
                <ul>
                  <li>
                    <img src="img/gallery1.jpg" alt="">
                  </li>
                  <li>
                    <img src="img/gallery2.jpg" alt="">
                  </li>
                  <li>
                    <img src="img/4.jpg" alt="">
                  </li>
                </ul>
                <ul>
                  <li>
                    <img src="img/gallery4.jpg" alt="">
                  </li>
                  <li>
                    <img src="img/gallery5.jpg" alt="">
                  </li>
                  <li>
                    <img src="img/post3.jpg" alt="">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="logo-footer">
          <div class="logo">
            <div class="title">
              <h2>Veen</h2>
              <span></span>
            </div>
          </div>
          <div class="rights">
            <p>© 2021 Veen. All rights reserved.</p>
          </div>
        </div>
      </section>
</body>
</html>