{% extends 'admin/base.html' %}

{% block page %}
    
<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">All Ads</h4>
                <div class="table-responsive-sm">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">URL</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in ads %}
                            <tr>
                                <th scope="row">{{ad.id}}</th>
                                <td>{{ad.name}}</td>
                                <td>{{ad.img}}</td>
                                <td>{{ad.url}}</td>
                                <td>
                                    <a href="addelete/{{post.id}}"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table><!--end /table-->
                </div><!--end /tableresponsive-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!-- end col -->
</div>

{% endblock page %}
    