{% extends 'admin/base.html' %} {% block page %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0">All Blogs</h4>
                <div class="table-responsive-sm">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Blog Title</th>
                                <th scope="col">Blog image</th>
                                <th scope="col">Date</th>
                                <th scope="col">Min Read</th>
                                <th scope="col">Text</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in blogs %}
                            <tr>
                                <th scope="row">{{post.id}}</th>
                                <td>{{post.title}}</td>
                                <td>{{post.img}}</td>
                                <td>{{post.date}}</td>
                                <td>{{post.min_read}}</td>
                                <td>{{post.text}}</td>
                                <td>
                                    <a href="blogdelete/{{post.id}}"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!--end /table-->
                </div>
                <!--end /tableresponsive-->
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!-- end col -->
</div>

{% endblock page %}