body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
#Section1 {
    display: flex;
    height: 80px;
    background: rgb(0, 139, 199);
}
.navbar-nav {
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px;
    text-align: center;
    width: 20%;
    color: white;
    padding: 18px 0px;
}
.logo img {
    width: 150px;
}
.Menu ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.Menu ul li {
    list-style: none;
    padding: 7px 30px;
    cursor: pointer;
    transition: all 200ms linear;
}
.Menu ul li:hover {
    border-bottom: 3px solid blue;
    color: darkblue;
    box-sizing: border-box;
}
#Section2 {
    background: url('../img/slider-mainbg-001.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.slider {
    text-align: center;
    margin: 0px auto;
    padding: 170px 0px;
    background: rgba(255, 255, 255, .3)
}
.text {
    font-size: 30px;
    height: 700px;
}
#Section3 {
    width: 1040px;
    margin: 0px auto;
}
.header {
    text-align: center;
    margin-top: 50px;
}
.items-row {
    margin-top: 30px;
}
.item {
    width: 300px;
    height: 200px;
    background: lightblue;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
}