body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.Topbar {
    display: flex;
    height: 80px;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: burlywood;
}
.logo{
    height: 60px;
    text-align: center;
    width: 40%;
    color: brown;
}
.Menu ul {
    width: 60%;
    list-style-type: none;
    display: flex;
    padding-left: 400px;
    margin-right: 20px;
    color: brown;
    display: flex;
}
li + li{
    margin-left: 20px;
}
.Heading {
    height: 15px !important;;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    background-color: lightgoldenrodyellow;
}
.Text {
    margin-top: 15px;
    margin: 80px;
}
.footer {
    border: 1px solid grey;
    background-color: burlywood;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: brown;
}