body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
#Topbar {
    display: flex;
    height: 80px;
    margin-bottom: 10px;
    background-color: darkblue;
}
.logo{
    height: 60px;
    text-align: center;
    width: 20%;
    color: white;
    margin-top: 10px;
}
.Menu ul {
    width: 60%;
    list-style-type: none;
    display: flex;
    padding-left: 450px;
    margin-right: 20px;
    color: white;
    display: flex;
}
li + li{
    margin-left: 70px;
}
.Heading {
    height: 15px;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    background-color: lightgoldenrodyellow;
}
.Text {
    margin-top: 15px;
    margin: 80px;
}
.footer ul {
    border: 1px solid grey;
    background-color: burlywood;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: brown;
    list-style-type: none;
    font-size: 14px;
}