{% extends 'main/base.html' %} 


{% block title %}
<title>Author</title>
{% endblock title %}
  

{% block page %}

<section id="author">
  <div class="about">
    <div class="name">
        <a href="#"><span>Jonathan Doe</span></a>
      <span style="background-color: #FF486A; border-radius: 50%; height: 4px; width: 4px; margin-top: 15px; margin-left: 10px;"></span>
      <p>8 articles</p>
      <ul>
        <li ><a href="./home.html" style="color: #FF486A;"><i class="fab fa-firefox-browser"></i></a></li>
        <li><a href="https://twitter.com/wordpress" style="color: #00ACED;"><i class="fab fa-twitter"></i></a></li>
        <li><a href="http://www.facebook.com/estudiopatagon" style="color: #175BEB;"><i class="fab fa-facebook-f"></i></a></li>
      </ul>
    </div>
    <div class="img-text">
      <a href="#"><img src="././static/img/author1.jpg" alt=""></a>
      <div class="text">
        <p>We are a team working from Chile. We create some Ghost and Wordpress themes for differents markets, also, we offer live support via our ticket system.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dolor labore distinctio, optio commodi at libero ratione laborum perspiciatis itaque error corrupti nulla dicta quasi et dolorum cumque a voluptate!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla at ab, assumenda itaque optio fugit voluptate accusamus et expedita repellendus amet laboriosam accusantium dolore vel aliquid. Totam adipisci quae a?</p>
      </div>
    </div>
  </div>
  <div class="separator"></div>
</section>
{% endblock page %}