{% extends 'main/base.html' %}


{% block title %}
<title>Contact</title>
{% endblock title %}


{% block page %}
<section id="container">
  <div class="grid">
    <div class="contact">
      <div class="title">
        <h4>Contact</h4>
        <span></span>
      </div>
      <div class="form">
        <section class="mb-4">
          <p class="text-center w-responsive mx-auto mb-5" style="color: #596172;">Do you have any questions? Please do
            not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.</p>

          <div class="row">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
              <form id="contact-form" name="contact-form" action="/contact" method="POST">

                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="name" name="name" class="form-control" placeholder="Your name"
                        style="margin-bottom: 15px;">
                    </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="email" name="email" class="form-control" placeholder="Your email"
                        style="margin-bottom: 15px;">
                    </div>
                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject"
                        style="margin-bottom: 15px;">
                    </div>
                  </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-md-12">

                    <div class="md-form">
                      <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"
                        placeholder="Your message" style="margin-bottom: 15px;"></textarea>
                    </div>

                  </div>
                </div>
                <!--Grid row-->
                <div class="text-center text-md-left">
                  <input type="submit" class="btn btn-danger" value="Submit" style="border-radius: 25px;">
                </div>
              </form>
              <div class="status"></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
              <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x" style="color: #FF486A;"></i>
                  <p>San Francisco, CA 94126, USA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x" style="color: #FF486A;"></i>
                  <p><a href="callto:+ 01 234 567 89" style="text-decoration: none; font-style: none; color: #212529;">+
                      01 234 567 89</a></p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x" style="color: #FF486A;"></i>
                  <p><a href="mailto:info@yourdomain.com"
                      style="text-decoration: none; font-style: none; color: #212529;">info@yourdomain.com</a></p>
                </li>
              </ul>
            </div>
            <!--Grid column-->

          </div>

        </section>
        <!--Section: Contact v.2-->
      </div>
    </div>
    <div class="right-sidebar">
      <div class="sidebar">
        <div class="sections">
          <div class="popular-posts">
            <div class="title">
              <h4>Recent Posts</h4>
              <span></span>
            </div>
            {% for a in a %}
            <div class="post">
              <a href="/post/{{a.id}}"><img src="{{a.img}}" alt="" style="object-fit: cover;"></a>
              <div class="info">
                <a href="/post/{{a.id}}">
                  <h4>{{a.title}}</h4>
                </a>
                <div class="datetime">
                  <i class="far fa-clock" style="width: 17px; height: 17px; color: #FF486A;"></i>
                  <span>{{a.date}}</span>
                </div>
              </div>
            </div>
            {% endfor%}
          </div>
          <div class="social-profiles">
            <h4>Social profiles</h4>
            <ul>
              <a href="https://twitter.com/envato">
                <li style="background: #63CDF1;">
                  <div class="name" style="float: left;">
                    <p style="margin: 0px;">Twitter</p><span>Follow me!</span>
                  </div>
                  <i class="fab fa-twitter" style="float: right;"></i>
                </li>
              </a>
              <a href="http://www.facebook.com/envato">
                <li style="background: #507CBE;">
                  <div class="name" style="float: left;">
                    <p style="margin: 0px;">Facebook</p><span>Follow me!</span>
                  </div>
                  <i class="fab fa-facebook-f" style="float: right;"></i>
                </li>
              </a>
              <a href="https://instagram.com/envato">
                <li style="background: #D62976;">
                  <div class="name" style="float: left;">
                    <p style="margin: 0px;">Instagram</p><span>Our photos!</span>
                  </div>
                  <i class="fab fa-instagram" style="float: right;"></i>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock page %}