{% extends 'main/base.html' %} {% block page %}
<section id="slider">
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="blog-name">
            <div class="info">
              <a href='{{url_for("main")}}'>
                <h1 style="color: #FF486A;">Welcome to VEEN</h1>
              </a>
              <div class="date-min">
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque rerum earum eum ullam perferendis
                  adipisci ipsum voluptatum dolore.</h4>
              </div>
            </div>
          </div>
          <img src="/admin/static/upload/2.jpg" class="d-block w-100" alt="..."
            style="width: 100%; height: 500px; object-fit:cover;">
        </div>
        {% for blog in blog %}
        <div class="carousel-item">
          <div class="blog-name">
            <div class="info">
              <a href="/post/{{blog.id}}">
                <h1>{{blog.title}}</h1>
              </a>
              <div class="date-min">
                <span
                  style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 11px; margin-left: 2px;"></span>
                <div class="date">
                  <span>{{blog.date}}</span>
                </div>
                <div class="min-read">
                  <span>{{blog.min_read}}</span>
                  <p>Min Read</p>
                </div>
              </div>
            </div>
          </div>
          <img src="{{blog.img}}" class="d-block w-100" alt="..." style="width: 100%; height: 500px; object-fit:cover;">
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</section>
<section id="grid-container">
  <div class="grid">
    <div class="left-grid">
      <div class="grid-top">
        <div class="row">
          {% for blog in blog %}
          <div class="grid-posts" style="width: 50%; height: 500px;">
            <div class="grid-item">
              <div class="header">
                <div class="text">
                  <a href="/post/{{blog.id}}">
                    <h1>{{blog.title}}</h1>
                  </a>
                  <div class="post-icons">
                    <div class="count-comments">
                      <i class="fas fa-comment"></i>
                      <span>0</span>
                    </div>
                    <div class="count-view">
                      <i class="fas fa-eye"></i>
                      <span>31521</span>
                    </div>
                    <div class="min-read">
                      <i class="fas fa-clock"></i>
                      <span>{{blog.min_read}}</span>
                    </div>
                  </div>
                </div>
                <a href="/post/{{blog.id}}"><img src="{{blog.img}}" alt="" style="cursor: pointer; width: 100%;"></a>
              </div>
              <div class="coma-date">
                <span
                  style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 10px; margin-left: 2px;"></span>
                <div class="date">
                  <span>{{blog.date}}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="right-sidebar">
      <div class="sidebar">
        <div class="sections">
          <div class="popular-posts">
            <div class="title">
              <h4>Recent Posts</h4>
              <span></span>
            </div>
            {% for endblog in endBlogs %}
            <div class="post">
              <a href="/post/{{endblog.id}}"><img src="{{endblog.img}}" alt="" style="object-fit: cover;"></a>
              <div class="info">
                <a href="/post/{{endblog.id}}">
                  <h4>{{endblog.title}}</h4>
                </a>
                <div class="datetime">
                  <i class="far fa-clock" style="width: 17px; height: 17px; color: #FF486A;"></i>
                  <span>{{endblog.date}}</span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="social-profiles">
            <h4>Social profiles</h4>
            <ul>
              <a href="https://twitter.com/envato">
                <li style="background: #63CDF1;">
                  <div class="name" style="float: left;">
                    <p style="margin: 0px;">Twitter</p><span>Follow me!</span>
                  </div>
                  <i class="fab fa-twitter" style="float: right;"></i>
                </li>
              </a>
              <a href="http://www.facebook.com/envato">
                <li style="background: #507CBE;">
                  <div class="name" style="float: left;">
                    <p style="margin: 0px;">Facebook</p><span>Follow me!</span>
                  </div>
                  <i class="fab fa-facebook-f" style="float: right;"></i>
                </li>
              </a>
              <a href="https://instagram.com/envato">
                <li style="background: #D62976;">
                  <div class="name" style="float: left;">
                    <p style="margin: 0px;">Instagram</p><span>Our photos!</span>
                  </div>
                  <i class="fab fa-instagram" style="float: right;"></i>
                </li>
              </a>
            </ul>
          </div>
          <div class="ad">
            <div class="title">
              <h4>Advertising</h4>
              <span></span>

            </div>
            
            <div class="img">
              <a href="{{ad.url}}"><img src="{{ad.img}}" alt=""></a>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock page %}