{% extends 'main/base.html' %}

{% block page %}
<section id="slider">
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="blog-name">
            <div class="info">
              <a href="#"><h1>Far far away, behind the word mountains</h1></a>
              <div class="date-min">
                <span style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 11px; margin-left: 2px;"></span>
                <div class="date">
                  <span>August 15, 2019</span>
                </div>
                <div class="min-read">
                  <span>3</span>
                  <p>Min Read</p>
                </div>
              </div>
            </div>
          </div>
          <img src="././static/img/1.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 500px; object-fit:cover;">
        </div>
        <div class="carousel-item">
          <div class="blog-name">
            <div class="info">
              <a href="#"><h1>Musical improvisation is the spontaneous music</h1></a>
              <div class="date-min">
                <span style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 11px; margin-left: 2px;"></span>
                <div class="date">
                  <span>July 26, 2019</span>
                </div>
                <div class="min-read">
                  <span>1</span>
                  <p>Min Read</p>
                </div>
              </div>
            </div>
          </div>
          <img src="././static/img/2.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 500px;" style="object-fit:cover;">
        </div>
        <div class="carousel-item">
          <div class="blog-name">
            <div class="info">
              <a href="#"><h1>A small river named Duden flows by their place</h1></a>
              <div class="date-min">
                <span style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 11px; margin-left: 2px;"></span>
                <div class="date">
                  <span>July 25, 2019</span>
                </div>
                <div class="min-read">
                  <span>1</span>
                  <p>Min Read</p>
                </div>
              </div>
            </div>
          </div>
          <img src="././static/img/3.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 500px;" style="object-fit:cover;">
        </div>
        <div class="carousel-item">
          <div class="blog-name">
            <div class="info">
              <a href="#"><h1>5 Spanish Cities that will make you fall in Love</h1></a>
              <div class="date-min">
                <span style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 11px; margin-left: 2px;"></span>
                <div class="date">
                  <span>July 25, 2019</span>
                </div>
                <div class="min-read">
                  <span>1</span>
                  <p>Min Read</p>
                </div>
              </div>
            </div>
          </div>
          <img src="././static/img/4.1.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 500px;" style="object-fit:cover;">
        </div>
        <div class="carousel-item">
          <div class="blog-name">
            <div class="info">
              <a href="#"><h1>Top 10 old rock songs from the 80’s</h1></a>
              <div class="date-min">
                <span style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 11px; margin-left: 2px;"></span>
                <div class="date">
                  <span>June 25, 2019</span>
                </div>
                <div class="min-read">
                  <span>1</span>
                  <p>Min Read</p>
                </div>
              </div>
            </div>
          </div>
          <img src="././static/img/4.jpg" class="d-block w-100" alt="..." style="width: 100%; height: 500px;" style="object-fit:cover;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</section>
<section id="grid-container" style="height: 1300px;">
  <div class="grid">
    <div class="left-grid">
      <div class="grid-top">
        <div class="row">
          <div class="grid-posts">
            <div class="grid-item">
              <div class="header">
                <div class="text">
                  <a href="#"><h1>Top 10 old rock songs from the 80’s</h1></a>
                  <div class="post-icons">
                    <div class="count-comments">
                      <a href="#"><i class="fas fa-comment"></i>
                        <span>0</span></a>
                    </div>
                    <div class="count-view">
                      <i class="fas fa-eye"></i> 
                      <span>31521</span>
                    </div>
                    <div class="min-read">
                      <i class="fas fa-clock"></i>
                      <span>1</span>
                    </div>
                  </div>
                </div>
                <a href="#"><img src="././static/img/4.jpg" alt="" style="cursor: pointer;"></a>
              </div>
              <div class="coma-date">
                <span style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 10px; margin-left: 2px;"></span>
                <div class="date">
                  <span>July 26, 2019</span>
                </div>
              </div>
              <div class="post-excerpt">
                <p>Music is an art form and cultural activity whose medium is sound organized in time. General definitions…</p>
              </div>
            </div>
            <div class="grid-item">
              <div class="header">
                <div class="text">
                  <a href="#"><h1>Forest Sketch: Digital Painting Process</h1></a>
                  <div class="post-icons">
                    <div class="count-comments">
                      <a href="#"><i class="fas fa-comment"></i>
                        <span>0</span></a>
                    </div>
                    <div class="count-view">
                      <i class="fas fa-eye"></i> 
                      <span>31521</span>
                    </div>
                    <div class="min-read">
                      <i class="fas fa-clock"></i>
                      <span>1</span>
                    </div>
                  </div>
                </div>
                <a href="#"><img src="././static/img/gallery2.jpg" alt="" style="cursor: pointer;"></a>
              </div>
              <div class="coma-date">
                <span style="background-color: #FF486A; border-radius: 50%; height: 5px; width: 5px; margin-top: 10px; margin-left: 2px;"></span>
                <div class="date">
                  <span>July 26, 2019</span>
                </div>
              </div>
              <div class="post-excerpt">
                <p>There has never been a better time to buy a smartphone than right now, here in 2019,…</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-n">
        <div class="nav">
          <a href="#"><button class="button" style="width: 76px; height: 36px; color: #fff; border-radius: 25px; border: 0px; background-color: #FF486A; box-shadow: 0px 3px 6px rgb(0 0 0 / 30%); outline: none;">Previous</button></a>
          <span class="page-number">Page 1 of 2</span>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
      <div class="sidebar">
        <div class="sections">
          <div class="popular-posts">
            <div class="title">
              <h4>Popular Posts</h4>
              <span></span>
            </div>
            <div class="post">
              <a href="./post.html"><img src="././static/img/post1.jpg" alt=""></a>
              <div class="info">
                <a href="./post.html"><h4>3 ideas to keep you healthy and strong</h4></a>
                <div class="datetime">
                  <i class="far fa-clock" style="width: 17px; height: 17px; color: #FF486A;"></i>
                  <span>July 25, 2019</span>
                </div>
              </div>
            </div>
            <div class="post">
              <a href="#"><img src="././static/img/post2.jpg" alt=""></a>
              <div class="info">
                <a href="#"><h4>Far far away, behind the word mountains</h4></a>
                <div class="datetime">
                  <i class="far fa-clock" style="width: 17px; height: 17px; color: #FF486A;"></i>
                  <span>August 15, 2019</span>
                </div>
              </div>
            </div>
            <div class="post">
              <a href="#"><img src="././static/img/post3.jpg" alt=""></a>
              <div class="info">
                <a href="#"><h4>The spectacle before us was indeed sublime</h4></a>
                <div class="datetime">
                  <i class="far fa-clock" style="width: 17px; height: 17px; color: #FF486A;"></i>
                  <span>July 26, 2019</span>
                </div>
              </div>
            </div>
          </div>
          <div class="social-profiles">
            <h4>Social profiles</h4>
            <ul>
              <a href="https://twitter.com/envato"><li style="background: #63CDF1;">
                <div class="name" style="float: left;"><p style="margin: 0px;">Twitter</p><span>Follow me!</span></div>
                <i class="fab fa-twitter" style="float: right;"></i>
              </li></a>
              <a href="http://www.facebook.com/envato"><li style="background: #507CBE;">
                <div class="name" style="float: left;"><p style="margin: 0px;">Facebook</p><span>Follow me!</span></div>
                <i class="fab fa-facebook-f" style="float: right;"></i>
              </li></a>
              <a href="https://instagram.com/envato"><li style="background: #D62976;">
                <div class="name" style="float: left;"><p style="margin: 0px;">Instagram</p><span>Our photos!</span></div>
                <i class="fab fa-instagram" style="float: right;"></i></li></a>
            </ul>
          </div>
          <div class="ad">
            <div class="title">
              <h4>Advertising</h4>
              <span></span>
              
            </div>
            <div class="img">
              <a href="#"><img src="./././static/img/mc.jpg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock page %}
  